@model MorningModel

@{
    ViewData["Title"] = "Details";
    TimeSpan calculatedTime = (TimeSpan)Model.MorningPlanBaseTime;
    TimeSpan baseTime = (TimeSpan)Model.MorningPlanBaseTime;
    TimeSpan stageTime;
}

<div>
    <div class="row justify-content-center">
        <div class="card m-3 time-card" style="width: 50%;">
            <div class="card-body">
                <h1 class="card-title text-center time-card-title"><b>@Model.MorningPlanTitle</b></h1>
                <h2 class="card-subtitle mb-2 text-muted text-center"><b>@baseTime.ToString(@"hh\:mm")</b></h2>
                <div class="card-subtitle mb-2 text-muted text-center time-card-calculationTime">
                    @foreach (OrganizedMorning.Entities.Times stage in Model.MorningStages)
                    {
                        calculatedTime = calculatedTime - (TimeSpan)stage.Time;
                        stageTime = (TimeSpan)stage.Time;
                        <h4><b>@stage.Title</b> (@stageTime.ToString(@"hh\:mm"))</h4>
                        <h4>@calculatedTime.ToString(@"hh\:mm")</h4>
                    }
                </div>
            </div>
        </div>

    </div>


</div>
<div class="d-flex align-items-center justify-content-center align-content-center text-center">
    <!--<a asp-controller="Home" asp-action="Edit" asp-route-encodedTitle="@Model.MorningPlanEncodedTitle" class="btn btn-lg btn-top m-1">Edytuj</a>-->
    <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.MorningPlanId" class="btn btn-lg btn-top m-1">Usuń</a>
    <a asp-action="Index" class="btn btn-lg btn-top m-1">Wróć</a>
</div>
